
#toggle {
  display: none; 
 }

/**   menu **/
.hamburger {
  position: absolute;
  top: 3.5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 2.5em;
  height: 3px;
  border-radius: 3px;
  border-style:solid;
  border-color: rgb(66, 66, 66);
  border-width: 1px;
  background-color: #616161;
  opacity: 0.7;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  }

/** Nav **/

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  border-style:dotted ;
	border-width: 3px;
	border-color: #616161;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);

  
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
 
}
nav {
  text-align: left;
  margin-left: 25%;
 
   }
   
nav a {
  text-decoration:none;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
  }
nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: white;
  
}
nav a:hover:before {
  height: 100%;
  
}

/** Animaciones **/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
  
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
  
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
  
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}