<div class="container-fluid">
<input  id="toggle" type="checkbox"/>

<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>

<div class="nav"  style="
background-image: url('./assets/Imagenes/ImagenesdelHeader/surface-rkr_jnaGzIk-unsplash3.jpg');
 background-size: cover; background-repeat: no-repeat;">
  <div class="nav-wrapper">
    <nav>
      <a class="nav-item text-secondary" routerLink="/librovisitas"> Libro Visitas </a><br>
      <a class="nav-item text-secondary" routerLink="/paginados"> Experiencia Laboral </a><br>
      <a class="nav-item text-secondary" href="mailto:gabriela.guanini@gmail.com"> Contacto </a><br>
      <a class="nav-item text-secondary" href="" (click)="cerraSesion()"> Cerrar sesión </a>
    </nav>
  </div>
</div>