	
<div class="container-fluid">
<div class="menu">
    <input type="checkbox" id="check">
    <label for="check" class="button">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>
      <div style="
      background-image: url('./assets/Imagenes/ImagenesdelHeader/surface-rkr_jnaGzIk-unsplash3.jpg');
       background-size: cover; background-repeat: no-repeat;
       height: 40vh;">
      <strong> <a class="nav-item text-secondary " routerLink="/librovisitas"> LIBRO DE VISITAS </a> </strong>
      <strong> <a class="nav-item text-secondary" routerLink="/paginados"> EXPERIENCIA LABORAL </a> </strong>
      <strong> <a class="nav-item text-secondary" href="" (click)="cerraSesion()"> CERRAR SESIÓN </a> </strong>
    </div>
    </nav>
 
</div>	
</div>




