 <input type="checkbox" id="navi-toggle" class="checkbox" />
 <label for="navi-toggle" class="button"data-aos="flip-up" data-aos-delay="200" data-aos-duration="2000">
   <span class="icon">&nbsp;</span>
 </label>
 <div class="background">&nbsp;</div>

 <!-- nav -->
 <nav class="nav">
   <ul class="list">
     <li class="item"> <a class="nav-item" routerLink="/librovisitas"> Libro Visitas </a> </li>
     <li class="item"> <a class="nav-item" routerLink="/paginados"> Experiencia Laboral </a> </li>
     <li class="item"> <a class="nav-item" href="mailto:gabriela.guanini@gmail.com"> Contacto </a> </li>
     <li class="item"> <a class="nav-item" href="" (click)="cerraSesion()"> Cerrar sesión </a> </li>
   </ul>
  </nav>
