
/* navbarbutton*/

.checkbox {
    display: none;
  }
  
  .button {
    position: relative;
    height: 3rem;
    width: 3rem; 
    margin:0.5cm;
    border-width: 0.4cm;
    background-image: url("/assets/Imagenes/ImagenesdelHeader/hamburguesa.png");
    border-radius: 23%;
    opacity: 0.7;
    background-size:cover;
    position: fixed;
    background-color: gray;
    top: 1vh; 
    right: 5vw; 
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center; 
    cursor: pointer;
  }
  
  .background {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 5.5vh; 
    right: 5.5vw; 
    background-image: url("/assets/Imagenes/ImagenesdelHeader/surface-rkr_jnaGzIk-unsplash.jpg");
    z-index: 1000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:25%;  
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }
  
  .list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  
  .item {
    margin: 1rem;
    font-size: 36px;
  }
  
  .link:link,
  .link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    background-size: 220%;
    transition: all 0.4s;
  }
  
  .link:hover,
  .link:active {
    color: lightgreen;
    cursor: pointer;
  }
  
  /* funcionalidad */
  .checkbox:checked ~ .background {
    transform: scale(80);
  }
  .checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
  }
  
  /*  */
  
  