
<form  novalidate #f="ngForm">
<div class="mb-3">
    <label for="nombreLV" class="form-label">Email address</label>
    <input type="email" class="form-control" id="nombreLV" name="nombreLV" [(ngModel)]="nombreLV"  >
    <button type="button" class="btn btn-primary" (click)="crearMensaje()">Primary</button>
    
</div>

<div class="mb-3">
    <label for="mensajeLV" class="form-label">Example textarea</label>
    <input type="email" class="form-control" id="mensajeLV" name="mensajeLV" [(ngModel)]="mensajeLV" >
    
</div>
</form>




