<app-encabezadopeque></app-encabezadopeque>
<br>
<br>
<div class="container">
    <div class="row" data-aos="flip-left"  data-aos-delay="200" data-aos-duration="2000">
        <h1>Libro de visitas</h1>
        <div>
            <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/mensajelibvis">
                FIRMAR ➳               
            </button>   
            <br>
            <br>
            <br>        
        </div>
            <div class="row">
            <table>
                <tbody class="border border-5">
                    <tr *ngFor="let Librovisitas of libroVisitasMostrar">
                        <td>
                            <h2>{{Librovisitas.nombreLV}}</h2>
                        </td>
                        <td>
                            {{Librovisitas.mensajeLV}}
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-outline-secondary" routerLink="/editarlib/{{Librovisitas.id}}">
                                <i class="bi bi-pencil-fill"></i>🖉 </button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-outline-danger" (click)="borrarMensaje(Librovisitas.id)">
                                <i class="bi bi-trash-fill"></i>⌫</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 <br>
 <br>
 <br>
<app-footer></app-footer>