<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar" id="navbarNav" >
    <div id="navbar-links">
    <div class="m-2">
      <ul class="navbar-nav">
        <li class="navbar-brand">
          <a class="navbar-brand" routerLink="/paginauno">Portfolio Lic. Gabriela Guanini</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/librovisitas">Libro Visitas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/paginados/">Experiencia Laboral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:gabriela.guanini@gmail.com">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="cerraSesion()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
    </div>
  </div>



  

  

