<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="crearExpLab()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Nombre de la Institución </label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Descripción de funciones</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp"
                        required>
                </div>
                <button class="btn btn-primary">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</div>