<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/paginauno" data-aos="fade-up"  data-aos-delay="1000" data-aos-duration="2000">Portfolio Lic. Gabriela Guanini</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div id="navbar-links">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/librovisitas" aria-current="page" data-aos="flip-left"  data-aos-delay="1500" data-aos-duration="2000">Libro Visitas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/paginados/" data-aos="flip-left" data-aos-delay="2000" data-aos-duration="2000">Experiencia Laboral</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:gabriela.guanini@gmail.com" data-aos="flip-left" data-aos-delay="2500" data-aos-duration="2000">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" (click)="onLogOut()" data-aos="flip-left" data-aos-delay="3000" data-aos-duration="2000">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 
</nav>