<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="navbar" id="navbarNav">
    <div id="navbar-links">
      <div class="row m-2">
        <ul class="navbar-nav">

          <li class="text-center nav-item">
            <a class="nav-link" routerLink="/librovisitas" data-aos="flip-left" data-aos-delay="1500"
              data-aos-duration="2000"><img id="imagenargprog1"
                src="../assets/Imagenes/ImagenesdelHeader/APLogo-20-20a.png" alt="imgargprog"></a>
          </li>


          <li class="text-center nav-item">
            <a class="nav-link" routerLink="/paginados/" data-aos="flip-left" data-aos-delay="2000"
              data-aos-duration="2000"><img id="imagenargprog2"
                src="../assets/Imagenes/ImagenesdelHeader/LogosInti (1) .png" alt="imgargprog"></a>
          </li>


          <li class="text-center nav-item">
            <a class="nav-link" routerLink="/paginados/" data-aos="flip-left" data-aos-delay="2000"
              data-aos-duration="2000"><img id="imagenargprog3"
                src="../assets/Imagenes/ImagenesdelHeader/LogosInti (2).png" alt="imgargprog"></a>
          </li>


          <li class="text-center nav-item" id="nav-item">
            <a class="nav-link" routerLink="/paginados/" data-aos="flip-left" data-aos-delay="2000"
              data-aos-duration="2000"><img id="imagenargprog4" src="../assets/Imagenes/ImagenesdelHeader/logoutn2.png"
                alt="imgargprog"></a>
          </li>


        </ul>
      </div>
    </div>
  </div>
  <app-navbarbutton></app-navbarbutton>
</nav>