<div class="container-fluid" style="
background-image: url('./assets/Imagenes/ImagenesdelHeader/surface-rkr_jnaGzIk-unsplash3.jpg');
background-size: cover; 
background-repeat: no-repeat;
background-color: #FCF3CF;
background-position: center center;
height: 35vh;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar" id="navbarNav">
          <div class="row"  >
        


           
            <div class="col nav-item">
             
              <a class="nav-link"  data-aos="flip-left" data-aos-delay="1500" data-aos-duration="2000"><img
                  class="logoimg" id="imagenargprog1"
                  src="../assets/Imagenes/ImagenesdelHeader/Nueva carpeta/Nueva carpeta/logoArgProg2.png" alt="imgargprog">
                </a>
          
              </div>

            <div class="col nav-item">

              <a class="nav-link" data-aos="flip-left" data-aos-delay="2000" data-aos-duration="2000"><img
                  class="logoimg" id="imagenargprog2"
                  src="../assets/Imagenes/ImagenesdelHeader/Nueva carpeta/Nueva carpeta/inti.png"
                  alt="imgargprog"></a>
           
              </div>

              
            <div class="col nav-item">

              <a class="nav-link" data-aos="flip-left" data-aos-delay="2000" data-aos-duration="2000"><img
                  class="logoimg" id="imagenargprog3"
                  src="../assets/Imagenes/ImagenesdelHeader/Nueva carpeta/Nueva carpeta/min.png"
                  alt="imgargprog"></a>
           
              </div>

         
        </div>
      </div>  
  </nav>
</div>
<div>
  <app-navbarbutton></app-navbarbutton>
</div>