.float-center{
	float: none;
	padding-left: 18%;

}

.carousel-indicators{
	
		filter: invert(70%);
	
}

.carousel-inner{
	border-style: solid;
	border-width: 3px;
	border-color: #B09394;
	
}

.container-fluid{
	width:90%;
	height:85%;
}