.float-center{
	float: none;
	padding-left: 18%;

}

.carousel-indicators{
	
		filter: invert(70%);
	
}

.mydev{
	background-image: url("/assets/Imagenes/ImagenesdelHeader/marcoslider.jpg");
	background-repeat: no-repeat;
	
 
   
}